@{
    ViewData["Title"] = "Change Password";
}

<h2>Register</h2>

<form method="post">

    <label>Password</label>
    <input type="password" name="password" required />

    <label>Confirm Password</label>
    <input type="password" name="password" required />

    <button type="submit">Register</button>
</form>

