@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    @Html.AntiForgeryToken()

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="form-group m-1">
        <label>Email</label>
        <!-- You can disable the email naming convention in AccountController.cs and removing/commenting out the placeholder, pattern, and title values in this form. -->
        <input type="email"
               name="email"
               id="email"
               class="form-control"
               placeholder="firstname.lastname@example.com"
               required
               pattern="@ViewBag.EmailPattern"
               title="Email must be in the format firstname.lastname&#64;example.com" />

        <label>Password</label>
        <input type="password" name="password" required  class="form-control" /> <br/>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

<p>
Already have an account? <a asp-area="" asp-controller="Home" asp-action="Index">Login here</a>
</p>