@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post">
    <div class="form-group m-1">
        <label>Email</label>
        <input name="email" id="email" class="form-control" required />

        <label>Password</label>
        <input type="password" name="password" required  class="form-control" /> <br/>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

<p>Already have an account? <a href="/Account/Login">Login here</a></p>
