<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- In-process ASP.NET Core -->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore
      processPath=".\RecordsMaster.exe"
      arguments=""
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout"
      hostingModel="inprocess">
      <environmentVariables>
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>