

<h2>Search</h2>

 <form method="get" action="@Url.Action("SearchRecords", "RecordItems")" onsubmit="return validateInput()">
    <div class="form-group m-1">
        <label for="Input">Enter Case number or bar code:</label> 
        <input name="cis" id="CIS" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
