@{
    ViewData["Title"] = "Home Page";
}
 @if (User.IsInRole("Admin") || User.IsInRole("User")){
<form method="get" action="@Url.Action("SearchByCIS", "RecordItems")">
    <div class="form-group m-1 p-2">
        <label for="CIS">Enter CIS:</label>
        <input type="number" name="cis" id="CIS" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
 }
 else{
     @if (User.Identity.IsAuthenticated){
        <h1>Welcome, @User.Identity.Name!</h1>
        <p>You are logged in, but you do not have access to the search functionality.</p> 

        }
    else{

    <h2>Login</h2>

    @if (TempData["LoginError"] != null)
    {
        <div class="alert alert-danger">@TempData["LoginError"]</div>
    }

    <form method="post" action="/Account/Login">
        <label>Email</label>
        <input type="email" name="email" required />

        <label>Password</label>
        <input type="password" name="password" required />

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/Account/Register">Register here</a></p>
    }


 }

