@{
    ViewData["Title"] = "Home Page";
}
 @if (User.Identity.IsAuthenticated){
<form method="get" action="@Url.Action("SearchByCIS", "RecordItems")">
    <div class="form-group m-1">
        <label for="CIS">Enter CIS:</label>
        <input type="number" name="cis" id="CIS" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
 }
 else{
    <h1>...</h1>
 }

