
@{
    ViewData["Title"] = "Generate Labels";
    var errorMessage = ViewData["ErrorMessage"] as string;
}

<h5>Generate Labels</h5>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @errorMessage
    </div>
}

<form asp-action="GenerateLabels" method="get">
    <div class="form-group">
        <label for="start">Starting BarCode</label>
        <input class="form-control" id="barcode_start" name="barcode_start" required />
    </div>
    <div class="form-group">
        <label for="end">Ending Barcode</label>
        <input class="form-control" id="barcode_end" name="barcode_end" required />
    </div>
    <button type="submit" class="btn btn-primary mt-1">Generate</button>
</form>

@if (ViewBag.RecentUploadDates != null)
{
    <h5 class="mt-4">Recent Upload Dates</h5>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Date Uploaded</th>
                <th>Records</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.RecentUploadDates)
            {
                <tr>
                    <td>@item.Date.ToString("MM/dd/yyyy")</td>
                    <td>@item.Count</td>
                    <td>
                        <!-- Initial migration has thousands of records. Do not show them. -->
                        @if (item.Count <= 1000)
                        {
                            <a href="@Url.Action("GenerateLabelsByDate", "Labels", new { date = item.Date.ToString("yyyy-MM-dd") })"
                               class="btn btn-sm btn-outline-primary">Download Labels</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
