@{
    ViewData["Title"] = "Upload Record Items";
}
 @if (User.IsInRole("Admin")){
    <h3>Upload CSV File</h3>
<p>
    Use the form below to update records.
</p>

<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <!-- Display a summary of validation errors -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="file">Choose CSV file</label>
        <input type="file" class="form-control" id="file" name="file" accept=".csv" />
        
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
 }
 else{
    <h3>Access Denied</h3>
    <p>You do not have permission to access this page.</p>
}
