@{
    ViewData["Title"] = "Update Existing Record Items";
}

    <h3>Update Existing Records via Upload</h3>
    <p>
        The .csv file should be formatted with the following columns <b>in this order</b>: <br/> <br/>
        CIS, BarCode, RecordType, BoxNumber, Location, Digitized, ClosingDate, DestroyDate
        <br/> <br/>
        Ensure that the CSV file is properly formatted and does not contain any errors to avoid issues during the upload process.
    </p>

    <form asp-action="Upload" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label for="file">Choose CSV file</label>
            <input type="file" class="form-control" id="file" name="file" accept=".csv" />
            
        </div>
        <button type="submit" class="btn btn-primary m-1">Update Existing Records</button>
    </form>
